#chatarea {
  color: black;
  height: 420px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  width: 60%;
  margin-left: 20%;
  background-color: #ffffff;
}
h2 {
  color: black;
}
#mainchat {
  height: 300px;
  border-radius: 20px;
  overflow-y: scroll;
  margin: 10px 20px 10px 20px;
  box-shadow: 2px 2px 2px 2px lightblue;
  padding: 10px 20px 10px 20px;
}
#sign_up {
  text-decoration: none;
}
#friendList {
  height: 50px;
  width: 60%;
  margin-left: 20%;
  padding: 5px 5px 1px 5px;
  background-color: #ffffff;
}
#imgIcon {
  height: 100%;
  float: left;
  width: fit-content;
}
#info {
  float: right;
}
hr {
  width: 60%;
}
#sep {
  width: fit-content;
  float: left;
}
#navLink {
  color: #ffffff;
}
#navLink:hover {
  color: #ffffff;
}
