#commentSession{


}

#chatarea {
  color: black;
  height: 420px;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;
  width: 60%;
  overflow: hidden;
  margin-left: 20%;
  background-color: #ffffff;
}
#mainchat {
  width: 104%;
  height: 280px;
  margin-left:-10px;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 10px;
  padding: 10px 20px 0px 10px;
}
#grouparea { color: black;
  height: 420px;
  border-radius: 20px;
  padding: 10px 10px 10px 20px;
  width: 60%;
  overflow: hidden;
  margin-left: 20%;
  background-color: #ffffff;
}
h2 {
  color: black;
}
#available_groups{width: 104%;
  height: 280px;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 10px;
  padding: 10px 20px 0px 10px;
}
#groupchat { width: 104%;
  height: 280px;
  width: 100%;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 60px;
  padding: 10px 20px 0px 10px;
}
#groupChatMessage{
  width: 100%;
  height: 250;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 20px 20px 10px 10px;
}

#sign_up {
  text-decoration: none;
}
#friendList {
  height: 50px;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  padding: 5px 5px 1px 5px;
  background-color: #ffffff;
}
@media (max-width: 520px) {
  #friendList {
    height: 50px;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    padding: 5px 5px 1px 5px;
    background-color: #ffffff;
  }

}
#groupList {
  height: 40px;
  width: 60%;
  padding: 5px 5px 1px 5px;
  background-color: #ffffff;
}
#imgIcon {
  height: 100%;
  float: left;
  width: fit-content;
  
}

hr {
  width: 60%;
}
#sep {
  width: fit-content;
  float: left;
}
#navLink {
  color: #ffffff;
}
#navLink:hover {
  color: #ffffff;
  border-bottom: 3px solid lightblue;
}
#formDiv {
  overflow: hidden;
}
#formScroll {
  overflow-y: scroll;
  scrollbar-width: none;
}
